@import "./../global.module.scss";

.body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 138px;
}

.heading {
    font-size: $page-heading-font-size;
    font-weight: $page-heading-font-weight;
}

.table {
    border: 1px solid $gray;
    padding: 20px;
    border-radius: 20px;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
