div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: #007bff;
  text-decoration: underline;
}

.auth-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
}
