@import "../../../global.module.scss";

.accountButton {
    background-color: $blue;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 4px;
    color: $white;
}

.accountButton:hover {
    background-color: $sky;
}
