@import "./../global.module.scss";

.body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 138px;

    >h1 {
        font-size: $page-heading-font-size;
        font-weight: $page-heading-font-weight;
    }
}