@import "../../../../global.module.scss";

.card {
    width: 100%;
    background-image: linear-gradient(to right, $white 50%, $yellow 50%);
    background-size: 200% 100%;
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    filter: drop-shadow(0 1px 1px);
    cursor: pointer;
    transition: all 0.2s;
}

.card:hover {
    background-position: -100% 0;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.title {
    font-weight: $emphasis-font-weight;
}

.icon {
    height: auto;
}
