@import "../../global.module.scss";

.body {
  display: flex;
  flex-direction: column;
  padding: 60px 138px;
  gap: 50px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  > span {
    color: $error;
  }
}
