@import "../../global.module.scss";

.body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 60px 138px;
}

.heading {
  font-size: $page-heading-font-size;
  font-weight: $page-heading-font-weight;
}

.horizontalButtonWrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.verticalButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
